################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
.DS_Store
pockets_unit_test.hpp
Debug/main.obj
Debug/mancalaProject.exe
Debug/mancalaProject.exe.recipe
Debug/mancalaProject.ilk
Debug/mancalaProject.log
Debug/mancalaProject.pdb
Debug/mancalaProject.tlog/CL.command.1.tlog
Debug/mancalaProject.tlog/CL.read.1.tlog
Debug/mancalaProject.tlog/CL.write.1.tlog
Debug/mancalaProject.tlog/link.command.1.tlog
Debug/mancalaProject.tlog/link.read.1.tlog
Debug/mancalaProject.tlog/link.write.1.tlog
Debug/mancalaProject.tlog/mancalaProject.lastbuildstate
Debug/mancalaProject.vcxproj.FileListAbsolute.txt
Debug/RunApplication.obj
Debug/vc142.idb
Debug/vc142.pdb
x64/Debug/mancalaProject.log
x64/Debug/mancalaProject.tlog/CL.command.1.tlog
x64/Debug/mancalaProject.tlog/mancalaProject.lastbuildstate
x64/Debug/mancalaProject.tlog/unsuccessfulbuild
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
Debug/runapplication.obj.enc
